body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    background-color:  #F1F3F4;
    color:#333333;
}

body h1, p {
    margin: 0px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap:10px;
    margin-top: 30px;
    background-color: #ECEFF1;
    padding: 100px;
    width: 400px;
}

.gender {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.gender p {
    margin: 0px;
    margin-right: 15px;
}

.lang {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.lang p {
    margin: 0px;
    margin-right: 15px;
}

textarea {
    resize: none;
  }


.required {
    display: flex;
    flex-direction: row;
    gap:5px;
    align-items: center;
}

.required p {
    margin: 0px;
}

.error {
    color: red;
}

.check {
    background-color: #007BFF;
    height: 30px;
    font-size: 15px;
}

.check:hover {
    background-color: #0068d8;
}


@media (max-width: 900px) {
    .content {
        width: 300px;
        padding: 20px;
    }
}